.task{
	width: 300px;
	background-color: yellow;
	border: 1px solid black;
	box-shadow: 10px 10px 5px #888888;
	text-align: center;
}
#todo_table{
	position: relative;
}
.remove{
	position: absolute;
	right: 10px;
}
.remove:hover{
	color: red;
}
#text{
	width: 100%;
	height: 20px;
}
#color{
	
	width: 100%;
	height: 20px;

}
#main{
	position: absolute;
	width: 100%;
}
#to_do{
	width: 70%;
	background-color: #eef;
	
}
#do_ne{
	
	position: relative;;
	width: 30%;
	background-color: #eee;
}
